<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zaq.ssncv.ssncvprovideruser2.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <resultMap id="UserRolesResultMap" type="User" extends="BaseResultMap">
        <collection property="roles" select="selectRolesByUid" ofType="Role" column="id"/>
    </resultMap>
    <select id="selectRolesByUid" resultType="String">
        select authority
        from role
        where uid = #{id}
    </select>
    <sql id="Base_Column_List">
        id, phone, username, avatar, password
    </sql>

    <select id="selectById" parameterType="java.lang.Integer"
            resultType="User">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByPhoneAndPsw" parameterType="User" resultType="User">
        select
        <include refid="Base_Column_List"/>
        from user
        where phone = #{phone} and password = #{password}
    </select>
    <select id="selectByPhone" parameterType="String" resultMap="UserRolesResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where phone = #{phone}
    </select>

    <select id="selectByName" parameterType="String"
            resultMap="UserRolesResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where username = #{username}
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="User" statementType="PREPARED"
            keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into user (id, phone, username, avatar, password)
        values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
                #{avatar,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>
    <insert id="insertRole" parameterType="Integer" statementType="PREPARED">
        insert into role
        set uid=#{uid}
    </insert>
    <insert id="insertSelectively" parameterType="User" useGeneratedKeys="true" statementType="PREPARED">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="UserOnModify">
        update user
        set phone    = #{newPhone,jdbcType=VARCHAR},
            username = #{newName,jdbcType=VARCHAR},
            avatar   = #{avatar,jdbcType=VARCHAR},
            password = #{newPsw,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryAll" resultType="User">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>
</mapper>